---
import Container from "./Container.astro"

---

<div id="okruhy">
  <Container>
    <div class="md:w-3/3 lg:w-2/2">
    </div> {/* 
    <div class="flex flex-wrap justify-center mx-auto gap-2">
      <div class="card w-72 h-60  flex flex-col bg-gradient-to-r from-blue-400 to-blue-700 rounded-lg shadow-md ">
        <div class="flex items-center justify-center p-4 ">
          <img src="./images/okruhy/Card.png" class="h-12 w-12 mx-auto"  loading="lazy" >
        </div>
        <div class="flex items-center justify-center p-4">
          <h3 class="text-xl text-white">Finance</h3>
        </div>
      </div>
    
      <div class="card w-72 h-60 flex flex-col bg-gradient-to-r from-red-400 to-red-700 rounded-lg shadow-md">
        <div class="flex items-center justify-center p-4">
          <img src="/images/okruhy/Heart.png" class="h-12 w-12 mx-auto"  loading="lazy">
        </div>
        <div class="flex items-center justify-center p-4">
          <h3 class="text-xl text-white">Zdraví</h3>
        </div>
      </div>
    
      <div class="card w-72 h-60  flex flex-col bg-gradient-to-r from-yellow-300 to-yellow-500 rounded-lg shadow-md">
        <div class="flex items-center justify-center p-4">
          <img src="/images/okruhy/Settings.png" class="h-12 w-12 mx-auto"  loading="lazy">
        </div>
        <div class="flex items-center justify-center p-4">
          <h3 class="text-xl text-white">Technologie</h3>
        </div>
      </div>
      <div class="card w-72 h-60  flex flex-col bg-gradient-to-r from-green-400 to-green-600 rounded-lg shadow-md">
        <div class="flex items-center justify-center p-4">
          <img src="/images/okruhy/Leaf.png" class="h-12 w-12 mx-auto" loading="lazy">
        </div>
        <div class="flex items-center justify-center p-4">
          <h3 class="text-xl text-white">Životní Prostředí</h3>
        </div>
      </div>*/}
      
    </div>
    </div>
  </Container>
</div>