---
import Container from "./Container.astro"
let ShowQuiz = false;
let Category = 0;

---


<div class="relative" id="home">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
        <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
        <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <Container>
        <div class="relative pt-36 ml-auto">
            <div class="lg:w-3/3 text-center mx-auto">
              <div class="font-extrabold text-gray-900 text-3xl md:text-6xl [text-wrap:balance] bg-clip-text  bg-gradient-to-r from-slate-200/60 to-50% to-slate-200 h-[calc(theme(fontSize.3xl)*theme(lineHeight.tight))] md:h-[calc(theme(fontSize.6xl)*theme(lineHeight.tight))] overflow-hidden"
              >VZDĚLANĚJŠÍ <span class="text-indigo-500 inline-flex flex-col">
                <ul class="block text-left leading-tight [&_li]:block animate-textSlide">
                    <li class="text-red-700 ">ČESKO</li>
                    <li class="text-indigo-500 hidden " >RODINA</li>
                    <li class="text-indigo-500 hidden" >KAMARÁDI</li>
                    <li class="text-indigo-500 hidden">SOUSEDI</li>
                    <li class="text-indigo-500 hidden">KOČKY & PSI</li>
                    <li aria-hidden="true" class="text-red-700">ČESKO</li>
                </ul>
            </span></div>
            <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-2  ">
              <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-green-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
                <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-900 ">Jak se vyrábí elektřina v ČR?</span>
              </a>
              <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-red-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
                <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-700 ">Špatně spím?</span>
              </a>
              <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-green-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
                <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-700 ">Kam se starým oblečením?</span>
              </a>
          </div>
          <div class="mt-4 flex flex-wrap justify-center gap-y-4 gap-x-2  ">
            <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-red-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
              <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-900 ">Mohu darovat krev</span>
            </a>
            <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-blue-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
              <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-700 ">Chci zažít investovat</span>
            </a>
            <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-yellow-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
              <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-700 ">Jak si mám pamatovat všechny hesla</span>
            </a>
        </div>
          <div class="mt-4 flex flex-wrap justify-center gap-y-4 gap-x-2  ">
            <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-green-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
              <span id="bubble" class="bubble relative text-base font-semibold text-gray-900 dark:text-gray-900 ">Jak pečovat o pokojvky</span>
            </a>
            <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-red-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
              <span id="bubble" class="bubble relative text-base font-semibold text-gray-900 dark:text-gray-900 ">Jak se mám soustředit na práci</span>
            </a>
            <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-green-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
              <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-700 ">Co znamená uhlíkově neutrální?</span>
            </a>
            <a href="#okruhy"  class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-blue-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
              <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-700 ">Jak to chodí na úřadu práce.</span>
            </a>
           
              </a>
          </div>
          <div class="mt-4 flex flex-wrap justify-center gap-y-4 gap-x-2">
            <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-yellow-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
              <span id="bubble" class="bubble relative text-base font-semibold ttext-gray-700 dark:text-gray-700 ">Ztratil jsem kartičku VZP</span>
            </a>
            <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-blue-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
              <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-700 ">Jak se zbavím dluhů?</span>
            </a>
            <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-transparent before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
              <span  class="relative text-3xl font-semibold text-gray-900 dark:text-gray-900  ">Co vás zajímá?</span>
            </a>
            <a href="#okruhy"  class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-yellow-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
              <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-700 ">Co je dvoufázové ověření</span>
            </a>
            <a href="#okruhy"  class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-red-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
              <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-700 ">Nechci být ve stresu</span>
            </a>
       
        </div>
        <div class="mt-4 flex flex-wrap justify-center gap-y-4 gap-x-2  ">
          <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-yellow-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
            <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-900 ">Co to je cloud?</span>
          </a>
          <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-green-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
            <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-700 ">Chci pomoct s výsadbou stromů.</span>
          </a>
          <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-yellow-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
            <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-700 ">Jak načtu QR kód?</span>
          </a>
          <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-green-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
            <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-700 ">Mohu čerpat dotaci na bydlení?</span>
          </a>
      </div>
      <div class="mt-4 flex flex-wrap justify-center gap-y-4 gap-x-2  ">
        <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-blue-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
          <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-900 ">Jak si mám říct o vyšší mzdu?</span>
        </a>
        <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-yellow-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
          <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-700 ">Proč mám aktualizovat na windows 11?</span>
        </a>
        <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-blue-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
          <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-700 ">Potřebuji se připravit na pohovor.</span>
        </a>
    </div>
    <div class="mt-4 flex flex-wrap justify-center gap-y-4 gap-x-2  ">
      <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-red-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
        <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-900 ">Co všechno za mě zaplatí pojištovna?</span>
      </a>
      <a href="#okruhy" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:bg-white before:border-yellow-500 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
        <span id="bubble" class="bubble relative text-base font-semibold text-gray-700 dark:text-gray-700 ">Jak funguje fotoaparát?</span>
      </a>
     
  </div>
  <h2 class="my-8 text-center text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
    Okruh: <span class="">{Category}</span>
   </h2>

  <div>
      <div class="max-w-sm p-6 bg-white border border-green-500 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <h6 class="my-8 text-center text-md font-bold text-gray-700 dark:text-white md:text-4xl">
          Kvíz: <span class="">{Category}</span>
         </h6>
         <div>
          <p>otazka č.1</p>
          <div class="flex items-center mb-4">
            <input id="first-radio-1" type="radio" value="" name="first-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="first-radio-1" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default radio</label>
        </div>
        <div class="flex items-center">
            <input  id="first-radio-2" type="radio" value="" name="first-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="first-radio-2" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Checked state</label>
        </div>
        <div class="flex items-center mb-4">
          <input id="first-radio-3" type="radio" value="" name="first-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="first-radio-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default radio</label>
      </div>
         </div>
         <div>
          <p>otazka č.2</p>
          <div class="flex items-center mb-4">
            <input id="second-radio-1" type="radio" value="" name="second-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="second-radio-1" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default radio</label>
        </div>
        <div class="flex items-center">
            <input  id="second-radio-2" type="radio" value="" name="second-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
            <label for="second-radio-2" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Checked state</label>
        </div>
        <div class="flex items-center mb-4">
          <input id="second-radio-3" type="radio" value="" name="second-radio" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600">
          <label for="second-radio-3" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-300">Default radio</label>
      </div>
         </div>
        </a>
      </div>
    </div>

  </div>
  </div>
</div>
    </Container>
</div>

<script define:vars={{ShowQuiz}}>
  function handleClick () {
      showQuiz = true;
      astro.invalidate();
      }
  
  document.getElementById("bubble").addEventListener("click", handleClick);
  </script>